<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="card show-card offset-1 offset-lg-2">
        <h2>
            <%=event.title%>
        </h2>
        <img src="<%=event.image%>" class="card-img-top img">
        <p><i>Organized by </i><b><%=event.owner.username%></b></p>
        <div class="card-body">
            <p class="card-text">
               <b><i>Description : </i></b><%=event.description%>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b><i>Price : </i></b><%=event.price%>
            </li>
            <li class="list-group-item">
                <b><i>Venue : </i></b><%=event.venue%>
            </li>
            <li class="list-group-item">
                <b><i>Date : </i></b><%=event.date%>
            </li>
            <li class="list-group-item">
                <b><i>Capacity : </i></b><%=event.capacity%>
            </li>
        </ul>
        <% if(user) { %>
            <form action="/events/bookings/<%=booking._id%>/<%=user._id%>?_method=DELETE" method="post">
                <button class="btn btn-danger" style="cursor: pointer;">Delete Booking</button>
            </form>
        <% } %>
    </div>
</body>
